[submodule "bundle/a.vim"]
  path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule "bundle/typescript-tools"]
	path = bundle/typescript-tools
	url = https://github.com/clausreinke/typescript-tools.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-ctrlspace"]
	path = bundle/vim-ctrlspace
	url = https://github.com/szw/vim-ctrlspace.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-js-indent"]
	path = bundle/vim-js-indent
	url = https://github.com/jason0x43/vim-js-indent.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "bundle/vim-projectionist"]
	path = bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-flow"]
	path = bundle/vim-flow
	url = https://github.com/facebook/vim-flow.git
[submodule "bundle/vim-hack"]
	path = bundle/vim-hack
	url = https://github.com/hhvm/vim-hack.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
